.inicio-page{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.bg_img{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.big_card{
  position: relative;
  z-index: 1;
  margin: 40px auto;
  max-width: 900px;
  padding: 25px;
  border-radius: 16px;
  background: rgba(255, 182, 86, 0.85);
  font-family: 'Poppins', sans-serif;
}

.row {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;
}

.localizador input{
  width: 300px;
  height: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 16px;
}

.localizador select{
  width: 316px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 16px;
}

.button_search button{
  margin-top: 20px;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #ff6600;
  color: white;
  cursor: pointer;
}

.num_gas input{  
  width: 300px;
  height: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 16px;
}

.results_card{
  position: relative;
  z-index: 1;
  margin: 40px auto;
  width: 900px;
  height: auto;
  padding: 25px;
  border-radius: 16px;
  background: rgba(218, 218, 218, 0.85);
  font-family: 'Poppins', sans-serif;
}

.error_p{
  color: #7a0000;
  font-weight: bold;
}

